body {
    background-color: black;
    margin: 0px;
    display: flex;
}

.teams {
    height: 765px;
    width: 450px;
    background-color: #373737;
    margin: 5px;
    position: relative;
    overflow:auto;
}

.teams::-webkit-scrollbar {
    width: 15px;
    background-color: #3E3E3E;
}

.teams::-webkit-scrollbar-thumb {
    background-color: #7E7E7E;
    border-radius: 5px;
}

.teams::-webkit-scrollbar-thumb:hover{
    background-color: #949494;

}

.content {
    height: 680px;
    width: 980px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 30px;
    background-color: #141414;
    font-family: 'Quicksand';
    color: white;
    display:flex;
    justify-content: space-between;
}

.darkerBack {
    background-color: #373737;
    width: 433px;
    height: 100px;
}

.lighterBack {
    background-color: #262626;
    width: 433px;
    height: 100px;
}

button {
    border: none;
    cursor: pointer;
    font-size: 35px;
    color: white;
    font-family: 'Quicksand';
    font-weight: 200;
    text-align: left;
    padding-left: 50px;
}

.imageSize {
    height: 250px;
    width: 250px;
}

.logoWithName {
    font-size: 3rem;
}

.statsback {
    height: 400px;
    width: 400px;
    background: linear-gradient(#00FFE0, #8F00FF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.statsfront {
    height: 395px;
    width: 395px;
    background: #141414;
}

.headerStats {
    font-size: 3rem;
    font-weight: bold;
    padding: 30px;
}

.stat{
    font-size: 1.5rem;
    margin-left: 100px;
    margin-bottom: 35px;
}